* {
    box-sizing: border-box;
  }
  
  body {
    height: 100vh;
    margin: 0;
    background-image: ;
  }
  
  h1 {
      text-align: center;
  }
  
  .scores {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 10px;
  }

  h2 {
    margin-right: 20px;
    margin-left: 20px;
  }

  .grid-wrapper {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .grid {
    align-items: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    justify-content: center;
    height: 500px;
    width: 500px;
    margin-top: -150px;
  }

  .coin {
    background-image: url("../Assets/Coin.gif");
    background-repeat: no-repeat;
    background-size: 10px;
    background-position-x: center;
    background-position-y: center;
  }
  
  .grid div {
    border: 1px solid lightgrey;
    flex-grow: 2;
    height: 7%;
    width: 7%;
  }
  
  .Viking {
    background-image: url('../Assets/Viking1Right.gif');
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
  }

  .VikingLeft {
    background-image: url('../Assets/Viking1.gif');
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
  }

  .disapprovedMovement {
    background-color:rgba(0, 0, 0, 0.2)
  }